{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Моє резюме</h1>

<img
    src="{{ url_for('static', filename='images/photo.jpg') }}"
    class="img-fluid rounded mb-4"
    width="250"
>

<section class="mb-4">
    <h2>Про себе:</h2>
    <p>Лемик Назарій</p>
    <p>Студент ІПЗ-32, який вивчає Flask.</p>
</section>

<section class="mb-4">
    <h2>Освіта</h2>
    <p>Закінчив Бережанську гімназію ім. Богдана Лепкого</p>
    <p>Студент університету Карпацького Національного Університету ім. Василя Стефаника.</p>
</section>

<section class="mb-4">
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Java</li>
        <li>C++</li>
        <li>C</li>
        <li>Bootstrap</li>
        <li>Figma</li>
        <li>Bash</li>

    </ul>
</section>

<section class="mb-4">
    <h2>Проекти</h2>
    <p>Flask website.</p>
</section>

{% endblock %}