<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">Моє резюме</a>

        <div>
            <a class="btn btn-outline-light me-2" href="/">Резюме</a>
            <a class="btn btn-outline-light me-2" href="/contacts">Контакти</a>
            <a class="btn btn-outline-light me-2" href="/users/profile">Профіль</a>
            <a class="btn btn-outline-light" href="/users/login">Увійти</a>
        </div>

    </div>
</nav>